.sidebar-wrapper {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 120px);
  display: flex;
  pointer-events: none;
  z-index: 2000;
}
.sidebar-wrapper .sidebar {
  width: 100vw;
  height: 100%;
  background: var(--color-dark);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  pointer-events: auto;
}
.sidebar-wrapper.open .sidebar {
  transform: translateX(0);
}

/* Overlay */
.sidebar-overlay {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 120px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1999;
}
.sidebar-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--gap-md);
}
.sidebar-extra-wrapper {
    width: 100%;
}
.sidebar-extra-wrapper .sidebar-extra {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--gap-md);
}
.sidebar-extra .extra-row {
  display: flex;
  gap: 12px;
}
.sidebar-extra .icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}
.sidebar-extra .alert::after {
  content: '';
  position: absolute;
  top: 0; right: 0;
  width: 10px; height: 10px;
  background: var(--color-red);
  border-radius: 50%;
}
.sidebar-extra .sidebar-profile {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.mobile-sidebar .nav-middle {
    width: 100%;
}

.mobile-sidebar .icon {
    width: var(--icon-xl) !important;
    height: var(--icon-xl) !important;
}

.mobile-sidebar ul {
    width: 100%;
    gap: var(--gap-sm) !important;
}
.mobile-sidebar nav ul li {
  color: var(--color-white);
  padding: 18px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid rgba(142, 142, 142, 0.14);
}
.mobile-sidebar nav ul li[data-active="true"] {
  background-color: var(--color-dark-gray);
  border-left: 4px solid var(--color-green);
}
.mobile-sidebar nav ul li:hover {
  background-color: transparent;
}

.mobile-sidebar nav ul li[data-active="true"] {
    background-color: var(--color-dark-gray2);
    border-left: none;
}

.sidebar nav ul li[data-active="true"]::before {
    display: none;
}

.mobile-sidebar .nav-bottom {
    width: 100%;
    margin-bottom: 0 !important;
}

.mobile-sidebar .logo-box {
  display: none;
}

@media (min-width: 1201px) {
  .sidebar-wrapper,
  .sidebar-overlay {
    display: none;
  }
}

@media (max-width: 750px) {
    .sidebar-wrapper {
        top: 80px;
        height: calc(100dvh - 80px);
    }
}