.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    padding: var(--space-8);
    display: flex;
    flex-direction: column;
    gap: 66px;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 5;
}

.sidebar--collapsed {
    width: 105px;
}

.sidebar .sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
}

.sidebar .sidebar__top img {
    height: 56px;
    width: 56px;
    transition: opacity 0.3s ease;
}

.sidebar .sidebar__top .sidebar__top--close {
    cursor: pointer;
}

.sidebar--collapsed .sidebar__top img {
    opacity: 0;
}

.sidebar .sidebar__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar--collapsed .sidebar__nav li {
    width: max-content !important;
}

.sidebar .sidebar__nav li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .sidebar__nav li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--space-4);
    font-size: var(--font-size-lg);
    font-family: var(--font-secondary);
    color: var(--color-gray-dark);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.sidebar .sidebar__nav li a .sidebar__badge,
.sidebar .sidebar__nav li a span {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar--collapsed .sidebar__nav li a span,
.sidebar--collapsed .sidebar__nav li a .sidebar__badge {
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
}

.sidebar .sidebar__nav li .sidebar__link--active,
.sidebar .sidebar__nav li .sidebar__link--active .icon {
    color: var(--color-black);
}

.sidebar .sidebar__nav .sidebar__badge {
    font-size: var(--font-size-lg);
    font-family: var(--font-secondary);
    color: var(--color-black);
    margin-left: auto;
}

.sidebar .sidebar__nav .sidebar__nav--top,
.sidebar .sidebar__nav .sidebar__nav--bottom {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

@media (max-width: 1080px) {
    .sidebar {
        width: 105px;
        padding-top: 42px;
    }
    .sidebar .sidebar__top {
        display: none;
    }
    .sidebar .sidebar__nav li {
        width: max-content;
    }
    .sidebar .sidebar__nav .sidebar__badge {
        display: none;
    }
    .sidebar .sidebar__nav li a p {
        display: none;
    }
    .sidebar .sidebar__top .sidebar__top--close {
        display: none;
    }
}

@media (max-width: 650px) {
    .sidebar {
        display: none;
    }
}